In [1]:
from google.colab import files
import pandas as pd
import numpy as np
import io
import os
import sklearn # 머신러닝
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix
import scipy

# 맥os의 경우 시도때도없이 다운되서 아래와 같이 넣어준다.
os.environ['KMP_DUPLICATE_LIB_OK']='True'

#**메인**

In [ ]:
#파일업로드
myFirstDf = files.upload()
mySecondDf = files.upload()

Saving first.csv to first.csv

Saving third.csv to third.csv

In [ ]:
#데이터프레임으로 변경
recipeData = pd.read_csv(io.BytesIO(myFirstDf['first.csv']),encoding='cp949')
userData = pd.read_csv(io.BytesIO(mySecondDf['third.csv']),encoding='cp949')

In [ ]:
# newDataFrame = pd.merge(recipeData,userData,on='rId')
# newDataFrame = newDataFrame.drop_duplicates(['menu_img','recipe_source','recipe_title','serving','coockingTime','difficult','nick'], keep= 'first')

# #recipeData 분리
# recipeData = newDataFrame[['rId','recipe_title','serving','coockingTime','difficult','recipe_source','menu_img','recipe_category']]

# #userData 분리
# userData = newDataFrame[['rId','nick','created_day','grade']]

In [ ]:
# #csv파일로 저장시 '-'로인한 오류발생 -> 제거
userData['nick'] = userData['nick'].str.replace("-","")

In [ ]:
# 필요없는 column 제거
# recipeData = recipeData.drop(columns=['Unnamed: 0','serving','coockingTime','difficult','recipe_source','menu_img'],axis=1)
# recipeData = recipeData.drop(columns=['serving','coockingTime','difficult','recipe_source','menu_img'],axis=1)

In [ ]:
# #필요없는 column 제거
userData = userData.drop(columns= ['Unnamed: 0','created_day'])
# userData = userData.drop(columns= ['Unnamed: 0'])
# userData = userData.drop(columns= ['created_day'])

In [ ]:
#결측값 제거
userData = userData.dropna(axis = 0)

In [ ]:
#이름 순으로 정렬
userData = userData.sort_values(by='nick',ascending=True)

In [ ]:
#userId 추가
userData['userId'] = ""

In [ ]:
#rId와 grade 값을 정수형으로 변환
userData[['rId','grade']] = userData[['rId','grade']].astype(int)

In [ ]:
#userData에서 nick이 공란일 경우 모두 제거
userData = userData[userData.nick != ' ']
userData = userData[userData.nick != "#NAME?"]

In [ ]:
#공백제거
userData['nick'].str.strip()

In [ ]:
#userId를 넣기 위한 인덱스 초기화
userData = userData.reset_index()
userData = userData.drop(columns=['index'],axis = 1)

In [ ]:
#User ID 부여 - 중복방지
userID = 1

for i in range(377265): 
  if i % 10000 == 0 :
    print(i)
  if i == 0:
    userData['userId'][i] = userID
  elif userData['nick'][i] != userData['nick'][i-1] :
    userID = userID + 1
    userData['userId'][i] = userID
  else :
    userData['userId'][i] = userID

In [ ]:
#누락 추가
userData['userId'][377265] = 54410

In [ ]:
#인덱스 초기화
userData = userData.reset_index()
userData = userData.drop(columns=['index'],axis = 1)

In [ ]:
userData

                 nick       created_day     rId  grade userId
0        (^o^)/ 요리조아    2019-01-22 0:04   83478      5      1
1        (^o^)/ 요리조아   2019-03-25 18:39   75374      5      1
2        (^o^)/ 요리조아    2019-01-22 0:04   65581      5      1
3        (^o^)/ 요리조아    2019-01-22 0:04   65663      5      1
4        (^o^)/ 요리조아    2019-01-22 0:04   83560      5      1
...               ...               ...     ...    ...    ...
373889          ＹＯＯＮ    2019-05-21 8:54  170492      5  54410
373890          ＹＯＯＮ    2019-05-21 8:54  159289      5  54410
373891          ＹＯＯＮ    2019-05-21 8:54  166640      5  54410
373892          ＹＯＯＮ    2019-05-21 8:54   91293      5  54410
373893          ＹＯＯＮ    2019-05-21 8:54  176893      5  54410

[373894 rows x 5 columns]

In [ ]:
userData.to_csv("userData.csv",encoding='utf-8-sig')

In [ ]:
recipeData = recipeData.drop(['Unnamed: 0'],axis=1)

In [ ]:
recipeData

In [ ]:
recipeData.to_csv("recipeData.csv",encoding='utf-8-sig')

#**추가**

In [ ]:
#협업필터링 형태로
#recipeData 분리
recipeData = recipeData[['rId','recipe_title','recipe_category']]
#userData 분리
userData = userData[['rId', 'userId','grade']]

newDataFrame = pd.merge(recipeData,userData,on='rId')

In [ ]:
#인덱스 초기화
userData = userData.reset_index()
userData = userData.drop(columns=['index'],axis = 1)

recipeData = recipeData.reset_index()
recipeData = recipeData.drop(columns=['index'],axis = 1)

In [ ]:
#rId를 기준으로 정렬
recipeData.sort_values(by='rId',ascending=True)

In [ ]:
#CSV파일로 저장!
UserRating = userData.to_csv("UserRating.csv",mode = 'w',encoding='utf-8-sig')

In [ ]:
#CSV파일로 저장!
recipeDataSet = recipeData.to_csv("recipeDataSet.csv",mode = 'w',encoding='utf-8-sig')

#**중간생략**

In [ ]:
#업로드 
myFirstDf = files.upload()
mySecondDf = files.upload()

In [ ]:
# #데이터프레임으로 변경
recipeData = pd.read_csv(io.BytesIO(myFirstDf['recipeData.csv']))
userData = pd.read_csv(io.BytesIO(mySecondDf['UserData.csv']))
# recipeData = pd.read_csv('recipeDataSet.csv')
# userData = pd.read_csv('UserRating.csv')

In [ ]:
recipeData = pd.read_csv('recipeData.csv',encoding='utf-8-sig')
userData = pd.read_csv('userData.csv',encoding= 'utf-8-sig')

In [ ]:
#중간파일 업로드시
recipeData = recipeData.drop(['recipe_title','Unnamed: 0'],axis = 1)
userData = userData.drop(['Unnamed: 0'],axis = 1)

In [ ]:
#카테고리 or title 제거
#recipeData = recipeData.drop('recipe_title',axis = 1)

In [ ]:
# 두 데이터프레임을 합쳐보자
userRecipeRating = pd.merge(userData,recipeData,on = 'rId')

In [ ]:
userRecipeRating = userRecipeRating.drop_duplicates(['rId', 'userId','recipe_category'])

In [ ]:
#인덱스 초기화
userRecipeRating = userRecipeRating.reset_index()
userRecipeRating = userRecipeRating.drop(columns=['index'],axis = 1)

In [ ]:
userRecipeRating = userRecipeRating.drop(['recipe_title'],axis = 1)

#**협업필터링**

In [ ]:
#recipeUserRating = userRecipeRating.groupby(['userId','recipe_category'])['grade'].max().unstack()
recipeUserRating = userRecipeRating.pivot_table('grade',index = 'recipe_category', columns='userId')

In [ ]:
#N/A 값들을 0으로 대체
recipeUserRating.fillna(0,inplace=True)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

compressed = sparse.csr_matrix(recipeUserRating)

In [ ]:
similarities = cosine_similarity(recipeUserRating)

In [ ]:
itemBasedCollabor = similarities

In [ ]:
#인덱스/컬럼 itemBasedCollabor 값으로 넣기
itemBasedCollabor = pd.DataFrame(data = itemBasedCollabor,index = recipeUserRating.index, columns= recipeUserRating.index)

In [ ]:
#키로 검색시 에러방지를 위해 좌우 스트립
itemBasedCollabor.columns = itemBasedCollabor.columns.str.strip()
itemBasedCollabor.index =  itemBasedCollabor.index.str.strip()
itemBasedCollabor

In [ ]:
#CSV로 저장
itemBasedCollabor.to_csv("collaborated.csv",encoding='utf-8-sig')

In [ ]:
#특정 아이템을 선호한다면 함께 보여줄 아이템 리스트 6개정도를 보여주는 함수
def getItemBasedCollabor(recipe_category):
  return itemBasedCollabor[recipe_category].sort_values(ascending = False)[:20]

In [ ]:
itemBasedCollabor

In [ ]:
getItemBasedCollabor("가래떡그라탕")

#**디폴트 레시피 만들기**

In [ ]:
#데이터프레임으로 변경
recipeSource = pd.read_csv(io.BytesIO(myFirstDf['first.csv']),encoding='cp949')
userDataSource = pd.read_csv(io.BytesIO(mySecondDf['third.csv']),encoding='cp949')

In [ ]:
#모든 컬럼값을 가지고 있는 변수만들기
loop = itemBasedCollabor.columns

In [ ]:
#각 행별로 더한 값을 리스트에 추가하기
scoreList = {}
for item in itemBasedCollabor:
  scoreList[item] = itemBasedCollabor[item].sum()

In [ ]:
import operator
#내림차순 정렬
sortedList = sorted(scoreList.items(),key=operator.itemgetter(1),reverse=True)

In [ ]:
#확인
sortedList

In [ ]:
#상위 100개의 카테고리 가지고 오기
rankList = sortedList[:201]

In [ ]:
compList = []
for item in range(200):
  compList.append(rankList[item][0])

In [ ]:
compList

In [ ]:
recipeData

           rId recipe_category
0            1         참치김치볶음밥
1            2         참치김치볶음밥
2            3         참치김치볶음밥
3            4         참치김치볶음밥
4            5         참치김치볶음밥
...        ...             ...
161220  180612           코코넛커피
161221  180613             커피전
161222  180614             커피전
161223  180615         피칸커피케이크
161224  180616         피칸커피케이크

[161225 rows x 2 columns]

In [ ]:
#디폴트 레시피 만들기
defaultMainRecipes = []
lowCnt = 0
#각 카테고리의 음식을 가지고와보자!
for high in compList:
  lowCnt = 0   
  for low in recipeData["recipe_category"]:
   lowCnt += 1
   if high == low :
     defaultMainRecipes.append(recipeData["rId"][lowCnt])
     break

print(defaultMainRecipes)

[28159, 61532, 179175, 136243, 26882, 159934, 2845, 75518, 103282, 133151, 6258, 13714, 13707, 66044, 117483, 28889, 91268, 647, 62635, 99364, 100130, 74171, 332, 82796, 105031, 25847, 1342, 83970, 21415, 83352, 99932, 13685, 16698, 104282, 61744, 117276, 25921, 94689, 28404, 5136, 104049, 75446, 115706, 9442, 131606, 101654, 177270, 166375, 50889, 155582, 141868, 95195, 130326, 103109, 74825, 52742, 10023, 3647, 25018, 87975, 169155, 124244, 13616, 62277, 134027, 7045, 174673, 105498, 61826, 62818, 5068, 50071, 24926, 75489, 293, 16432, 154850, 116613, 105485, 99633, 18985, 158861, 45464, 18105, 118399, 18374, 65853, 139469, 112983, 4294, 179592, 124248, 162633, 39679, 74783, 135694, 65308, 27588, 173909, 115418, 46913, 100759, 115304, 4267, 4785, 63276, 86875, 20171, 72938, 28391, 160077, 14000, 2494, 4649, 138303, 159633, 115507, 117196, 92289, 168703, 94803, 10859, 110040, 124364, 21202, 28271, 117884, 131917, 96833, 116430, 101864, 113116, 53072, 132575, 119062, 377, 19370, 19375, 51331, 90003, 132473, 100143, 167909, 4459, 48013, 89527, 117821, 50320, 27538, 170520, 160608, 4468, 112176, 94831, 85705, 126408, 93335, 13650, 110439, 7459, 175202, 126842, 116550, 85982, 117110, 91332, 24875, 28228, 8260, 93474, 73523, 85871, 178198, 73625, 24397, 24851, 115664, 115312, 168124, 27496, 51935, 28190, 73956, 108552, 99835, 99890, 3905, 88309, 45270, 103073, 65826, 17613, 171574, 96703, 20128, 5096, 16244, 142003, 151017, 49109]

In [ ]:
#확인용
for i in range(len(defaultMainRecipes)):
  for j in range(len(recipeSource)):
   if recipeSource["rId"][j] ==  defaultMainRecipes[i]:
     print(recipeSource["recipe_title"][j])
     break

In [ ]:
userData = userData.sort_values(by=['rId'],axis = 0,ascending=True)
userData = userData.reset_index( drop = True )
userData

In [ ]:
countRating = []
for i in range(len(userData)):
  countRating.append(userData["rId"][i])

In [ ]:
countRating.count(9)

In [ ]:
cntList = []
prev = 0
minus = 1
for i in range(len(countRating)): 
  count = 0
  i += prev
  if i > len(countRating) : break
  for j in range(i,len(countRating)):
    if countRating[i] == countRating[j]:
      count += 1
    else:
      cntList.append((countRating[i],count))
      prev = i+count-minus
      minus +=1
      print(i,prev,countRating[i],count)
      break
  # cntList.append((countRating[i],count))
  # prev = i+count-1
  # print(i,prev,countRating[i],count)

In [ ]:
cntList.sort(key=lambda x:x[1],reverse=True)

In [ ]:
for i in range(len(recipeSource)):
  if recipeSource["rId"][i] == 25022:
    print(recipeSource["recipe_title"][i])
    break

닭볶음탕 진짜진짜 황금레시피 알려 드려요~~^^

In [ ]:
for i,j in cntList:
  for q,k in cntList:
    if j == k :
      cntList.remove((q,k))

In [ ]:
ranking = []
for i,j in cntList:
  ranking.append(i)

In [ ]:
ranking = ranking[:100]

In [ ]:
ranking

[23694,
 23689,
 91331,
 121119,
 17743,
 19963,
 100269,
 18986,
 106042,
 110642,
 20932,
 8212,
 20654,
 64512,
 23691,
 1348,
 115705,
 125486,
 85435,
 174484,
 126754,
 75780,
 142297,
 92544,
 5967,
 123292,
 75680,
 83722,
 75773,
 177283,
 97979,
 75741,
 66067,
 142212,
 63487,
 117181,
 119390,
 8259,
 23719,
 63374,
 142189,
 103444,
 114286,
 74543,
 85081,
 113244,
 21513,
 157515,
 109419,
 175408,
 157053,
 107719,
 1343,
 171421,
 121766,
 7044,
 85018,
 75786,
 684,
 110440,
 142333,
 128997,
 178122,
 1353,
 174672,
 48542,
 61648,
 108008,
 88074,
 92365,
 121767,
 74809,
 174088,
 96857,
 1346,
 156996,
 171378,
 62885,
 118336,
 28985,
 49478,
 170683,
 23693,
 174545,
 74834,
 106493,
 9177,
 21417,
 20388,
 106043,
 174548,
 16013,
 112179,
 126228,
 96858,
 110442,
 66105,
 177280,
 95226,
 125416]

#**레시피 추천 알고리즘**

In [ ]:
# 알고리즘 : 기본적으로 제공할 레시피들의 집합(자율) + 유저의 선호 카테고리를 이용해 제공할 레시피들의 집합을 적절한 비율로 rId값을 반환하여 넘겨주는 함수를 만든다.  
# - 특정 유저가 클릭 혹은 평점을 남긴 레시피가 있다면 이 레시피의 카테고리를 기준
# - 각 카테고리에는 여러개의 레시피가 존재한다.(recipeData.csv)
# - 해당 카테고리와 유사도가 높은 (colaborated.csv 에서 상위 5개) 카테고리의 레시피를 기본적으로 제공할 레시피들과 함께 자연스럽게 리스트화한다.
# - rId(recipe id)값을 반환한다 ( 100개 ~ 200개 )

# 조건 
# 1. 선호카테고리의 개수(최대 5개)
#    - 추가 : 가장 최근 조회한(혹은 평점을 남긴) 카테고리와 이전 카테고리간의 가중치
# 2. 기본적으로 제공되는 레시피와 선호 카테고리 레시피와의 가중치 고려

In [ ]:
recipeData = pd.read_csv('recipeData.csv',encoding='utf-8-sig')
userData = pd.read_csv('userData.csv',encoding='utf-8-sig')
collaborated = pd.read_csv('collaborated.csv',encoding='utf-8')

In [ ]:
recipeData = recipeData.drop(['Unnamed: 0'],axis = 1)

In [ ]:
collaborated = collaborated.set_index('recipe_category')

In [ ]:
# collaborated.to_csv("collaborated.csv",encoding='utf-8-sig')

In [ ]:
collaborated

                 BLT샌드위치  LA찹쌀떡  가나슈마카롱  ...  훈제오리해파리냉채  흑당카페라떼  흑임자연근샐러드
recipe_category                          ...
BLT샌드위치              1.0    0.0     0.0  ...        0.0     0.0       0.0
LA찹쌀떡                0.0    1.0     0.0  ...        0.0     0.0       0.0
가나슈마카롱               0.0    0.0     1.0  ...        0.0     0.0       0.0
가나슈초코케이크             0.0    0.0     0.0  ...        0.0     0.0       0.0
가라아게                 0.0    0.0     0.0  ...        0.0     0.0       0.0
...                  ...    ...     ...  ...        ...     ...       ...
훈제오리야채볶음밥            0.0    0.0     0.0  ...        0.0     0.0       0.0
훈제오리월남쌈              0.0    0.0     0.0  ...        0.0     0.0       0.0
훈제오리해파리냉채            0.0    0.0     0.0  ...        1.0     0.0       0.0
흑당카페라떼               0.0    0.0     0.0  ...        0.0     1.0       0.0
흑임자연근샐러드             0.0    0.0     0.0  ...        0.0     0.0       1.0

[3601 rows x 3601 columns]

In [ ]:
import random

collaborated = collaborated.set_index('recipe_category')

#유저의 선호 카테고리 가져오기 : 추후 구현
#def getUserWishCategroy(userId): 
# return category 


#유저의 선호 카테고리의 상위 3~5개의 카테고리를 반환
def is_topCategory(collaborated,wishCategory):
  isTopCategory = collaborated[wishCategory] >=0.2 #유사도 0.4이상은 너무 적다.. 고려해야할 사항 : 유사도를 낮추거나 기본레시피리스트가 필요
  categoryList = collaborated[isTopCategory]
  categoryList = categoryList.index.to_list()  
  return categoryList #list

#해당 카테고리의 레시피 rId 반환
def is_recipes(recipeData,categoryNames): #list
  ridList = []
  for item in categoryNames:
    datas = recipeData['recipe_category'] == item
    newRecipes = recipeData[datas]
    newRid = newRecipes['rId']
    newRid = newRid.to_list()
    ridList += newRid
  return ridList #list

#시작
# userId
# wishCategory = getUserWishCategory(userId)
wishCategory = "가나슈마카롱" # getUserWishCategory를 해야한다. 편의를 위해 임의로 넣어둠.
categories = is_topCategory(collaborated,wishCategory)
recipeList = is_recipes(recipeData,categories)

#임의로 셔플
random.shuffle(recipeList)

#100개보다도 작은 rId개수가 나올 경우 추가로 랜덤한 레시피를 추가해주자.
print(len(recipeList))
print(recipeList) #recipeList를 전달하고 해당되는 레시피를 클라이언트로 전달. 여기서는 출력만 해봄.

51
[140819, 162793, 180243, 180248, 180256, 180254, 180250, 180245, 162795, 162797, 162792, 141008, 140814, 162789, 180249, 180240, 180257, 162800, 140815, 141007, 180239, 162790, 162799, 180242, 140818, 162791, 140830, 162803, 140823, 180244, 162806, 162788, 140813, 180241, 162798, 140824, 140821, 180246, 141006, 162796, 140828, 180247, 140816, 140825, 162794, 180251, 162805, 140831, 140817, 140820, 140822]

#**타입변환**

#**recipeData : CP949 전처리**

In [ ]:
recipeData = pd.read_csv('recipeData.csv',encoding='utf-8-sig')

In [ ]:
recipeData =  recipeData.drop(['Unnamed: 0'],axis= 1)

In [ ]:
recipeData = recipeData.drop_duplicates(['recipe_title','menu_img'],keep= 'first')

In [ ]:
recipeData.to_csv('RecipeData.csv',encoding = 'CP949')

In [ ]:
recipeData = pd.read_csv('RecipeData.csv',encoding='cp949')

In [ ]:
recipeData = recipeData.drop(['Unnamed: 0'],axis= 1)

In [ ]:
recipeData = recipeData[recipeData['recipe_title'] != '#NAME?']

In [ ]:
recipeData.to_csv('Recipick_RecipeData.csv',encoding='cp949')

In [ ]:
recipeData.head(98237)

          rId  ... recipe_category
0           1  ...         참치김치볶음밥
1           2  ...         참치김치볶음밥
2           3  ...         참치김치볶음밥
3           4  ...         참치김치볶음밥
4           5  ...         참치김치볶음밥
...       ...  ...             ...
98241  109734  ...          삼겹살김치찜
98242  109736  ...          삼겹살김치찜
98243  109737  ...          삼겹살김치찜
98244  109738  ...          삼겹살김치찜
98245  109739  ...          삼겹살김치찜

[98237 rows x 8 columns]

#**recipeOrder: CP949 전처리**

In [ ]:
recipeOrder1 = pd.read_csv('RecipeOrder01.csv',encoding='utf-8-sig')
recipeOrder2 = pd.read_csv('recipeOrder02.csv',encoding='utf-8-sig')

In [ ]:
recipeOrder1 =  recipeOrder1.drop(['Unnamed: 0'],axis= 1)
recipeOrder2 = recipeOrder2.drop(['Unnamed: 0'],axis= 1)

In [ ]:
recipeOrder1.to_csv('RecipeOrder1.csv',encoding= 'CP949')
recipeOrder2.to_csv('RecipeOrder2.csv',encoding= 'CP949')

#**통합**

In [2]:
#데이터프레임으로 변경
recipeData = pd.read_csv('Recipick_RecipeData.csv',encoding='cp949')
userData = pd.read_csv('userData.csv',encoding='utf-8-sig')
recipeOrderData1 = pd.read_csv('RecipeOrder01.csv',encoding='utf-8-sig')
recipeOrderData2 = pd.read_csv('recipeOrder02.csv',encoding='utf-8-sig')

#레시피 데이터 수정

In [3]:
#필요없는 컬럼 제거
recipeData = recipeData.drop(['Unnamed: 0'],axis= 1)

In [4]:
#중복제거
recipeData = recipeData.drop_duplicates(['recipe_title','menu_img'],keep= 'first')

In [5]:
#인덱스 초기화
recipeData = recipeData.reset_index()
recipeData = recipeData.drop(['index'],axis = 1)

In [6]:
#recipe_source만 공란 존재
recipeData = recipeData[recipeData['recipe_source'].isnull() == False]

In [44]:
#cp949로 저장 (레시피 오더의 rId확인하고)
recipeData.to_csv('RecipeData.csv',encoding = 'cp949')

#레시피 순서 수정

In [7]:
recipeOrderData1 = recipeOrderData1.drop(['Unnamed: 0'],axis = 1)
recipeOrderData2 = recipeOrderData2.drop(['Unnamed: 0'],axis = 1)

In [8]:
hasList = recipeData['rId'].to_list()
#두개로 나눠서 하자. 런타임 오류뜬다.
len(hasList)
halfList1 = hasList[:17000]
halfList2 = hasList[17000:34000]
halfList3 = hasList[34000:]

In [9]:
#레시피 데이터에 없는 레시피 순서 제거해버리자. 첫 번째 레시피 목록
#이건 깨진 레시피 목록 : 860,1845,2470,2588,2671,2693,2725,2791
#halfList1
count = 0
recipeOrder01 = pd.DataFrame(columns=recipeOrderData1.columns)
for rid in halfList1:
  count += 1
  if count % 10000 == 0 : print(count)
  recipeOrder01 = recipeOrder01.append(recipeOrderData1[recipeOrderData1['rId'] == rid])

10000

In [10]:
#halfList2
count = 0
recipeOrder02 = pd.DataFrame(columns=recipeOrderData1.columns)
for rid in halfList2:
  count += 1
  if count % 10000 == 0 : print(count)
  recipeOrder02 = recipeOrder02.append(recipeOrderData1[recipeOrderData1['rId'] == rid])

10000

In [11]:
#halfList3
count = 0
recipeOrder03 = pd.DataFrame(columns=recipeOrderData1.columns)
for rid in halfList3:
  count += 1
  if count % 1000 == 0 : print(count)
  recipeOrder03 = recipeOrder03.append(recipeOrderData1[recipeOrderData1['rId'] == rid])

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000

In [14]:
recipeOrder01 = recipeOrder01.append(recipeOrder02)

In [ ]:
recipeOrder01 = recipeOrder01.append(recipeOrder03)

In [ ]:
recipeOrder01

In [ ]:
#레시피 데이터에 없는 레시피 순서 제거해버리자. 두 번째 레시피 목록
#이건 깨진 레시피 목록 : 860,1845,2470,2588,2671,2693,2725,2791...
#halfList1
count = 0
recipeOrder04 = pd.DataFrame(columns=recipeOrderData1.columns)
for rid in halfList1:
  count += 1
  if count % 1000 == 0 : print(count)
  recipeOrder04 = recipeOrder04.append(recipeOrderData2[recipeOrderData2['rId'] == rid])

In [ ]:
#halfList2
count = 0
recipeOrder05 = pd.DataFrame(columns=recipeOrderData1.columns)
for rid in halfList2:
  count += 1
  if count % 1000 == 0 : print(count)
  recipeOrder05 = recipeOrder05.append(recipeOrderData2[recipeOrderData2['rId'] == rid])

In [ ]:
#halfList3
count = 0
recipeOrder06 = pd.DataFrame(columns=recipeOrderData1.columns)
for rid in halfList3:
  count += 1
  if count % 1000 == 0 : print(count)
  recipeOrder06 = recipeOrder06.append(recipeOrderData2[recipeOrderData2['rId'] == rid])

In [20]:
recipeOrder01 = recipeOrder01.append(recipeOrder04)
recipeOrder01 = recipeOrder01.append(recipeOrder05)
recipeOrder01 = recipeOrder01.append(recipeOrder06)

In [25]:
recipeOrder01 = recipeOrder01.reset_index()
recipeOrder01 = recipeOrder01.drop(['index'],axis = 1)

In [29]:
recipeOrder01.head(115)

    recipe_order rId                                        description
0              1   1                          재료의 양은 입맛에 맞게 취향껏 준비해주세요.
1              2   1  먼저 묵은지를 가위를 사용해서 잘게 썰어주세요.만약 신김치가 없으면 덜익은 김치에 ...
2              3   1                              대파도 송송 썰어 주세요.대파도마, 칼
3              4   1  후라이팬에 식용유를 듬뿍 넣은 뒤충분히 달군 다음참치를 넣고 볶아주세요.식용유, 참...
4              5   1  참치의 비린 맛을 잡기 위해간 마늘 1T를 넣고 볶아주세요.간마늘1T어른수저, 볶음...
..           ...  ..                                                ...
110            2  14                         대파도 먹기좋은 크기로 잘게 썰어 준비해주세요.
111            3  14                         달군 팬에 식용유 두르고 대파부터 볶아주고요.
112            4  14                             불 맛을 위해 간장 한 큰 술 투하!!
113            5  14                         김치 넣고 볶다가 기름기 뺀 참치 넣고 볶아주고
114            6  14         밥 투하! 잽싸게 볶아주고 참기름 몇 방울 또르르르~ 떨어뜨려서 완성합니다.

[115 rows x 3 columns]

In [30]:
recipeOrder01.to_csv('RecipeOrder.csv',encoding= 'utf-8')

#유저데이터 수정

In [32]:
userData = userData.drop(['Unnamed: 0'],axis = 1)

In [35]:
userData = userData.drop_duplicates(['userId','rId'])

In [48]:
userData = userData.drop(['(맑음:1, 구름조금:2, 구름많음:3,구름많음,흐림,비:4,눈:5)'],axis=1)

In [49]:
userData

             nick       created_day     rId  grade  userId  weather
0             ^^    2015.4.18 10:05  126908      3    4766        4
1            j♥y    2015.4.19 19:42  157516      5    8143        4
2            j♥y    2015.4.19 19:42  167797      5    8143        4
3         딸기타르트♥    2015.4.20 20:43  158208      5   22052        4
4         딸기타르트♥    2015.4.20 20:43  113313      5   22052        4
...           ...               ...     ...    ...     ...      ...
373889        림S    2021.10.11 9:29  142317      5   23987        4
373890    콩콩이맘이수   2021.10.11 10:15  142226      5   49208        4
373891  요리좋아하는상미   2021.10.11 11:11  131966      5   39215        4
373892     화원유니맘   2021.10.11 13:33  142592      5   53598        4
373893       김허니   2021.10.11 14:11  153540      5   17164        4

[373861 rows x 6 columns]

In [50]:
userData.to_csv('UserData.csv',encoding='cp949')